button {
    border: none;
}

.column {
    float: left;
}

.row:after, .row:before {
    content: "";
    display: table;
    clear: both;
}

.row {
    /* margin: -20px 0; */
    margin-left: -20px;
    margin-right: -20px;
}

.bg-orange {
    background-color: #f8d57e;
}

.bg-grey {
    background-color: #fafbfd;
}

.bg-white {
    background-color: white;
}

.left-aside {
    width: 35%;
    background: #fafbfd;
    min-height: 100vh;
    padding: 47px 47px 47px 69px;
}

.center {
    padding: 47px;
}

.right-aside {
    padding: 47px 69px 47px 47px;
}

.width-40 {
    width: 40%;
}

.width-25 {
    width: 25%;
}

.container {
    max-width: 1200px;
    margin: auto;
    background: white;
    border-radius: 55px;
    overflow-x: hidden;
}

body {
    background: #e5eaec;
    margin: 35px 0;
    font-family: 'Roboto', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-55 {
    padding: 54px;
}

.logo-title {
    display: inline-block;
    margin: 0 0 41px 10px;
    font-size: 18px;
}

.section-with-button {
    position: relative;
}

.left-title {
    font-size: 23px;
    font-weight: lighter;
    margin-right: 66px;
}

.left-title-button {
    position: absolute;
    top: 3px;
    right: 0;
    background: none;
    color: #f8d57e;
    border: none;
    font-weight: bolder;
}

.add-todo.logo-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
} 

.oval {
    border-top-left-radius: 30px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 20px;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.main-title-wrapper h1, .main-date {
    font-weight: bold;
    font-size: 35px;
}

.main-title-wrapper h1 {
    margin: 0;
}

.main-title-date {
    margin-bottom: 50px;
}

.main-date {
    color: #f8d57e;
    margin-right: 26px;
    display: inline-block;
    vertical-align: middle;
}

.add-todo {
    background: #f8d57e;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.main-date-btn {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-weight: bold;
    margin-right: 10px;
}


.todo-block {
    padding: 28px;  
    margin: 0 0 20px; 
    border-radius: 22px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    font-size: 14px;
}

.todo-block > div:nth-of-type(1) {
    flex-basis: 34px; /* width/height  - initial value: auto */
    overflow-x: hidden;
    white-space: normal;
    overflow-wrap: break-word;
} 

.todo-block > div:nth-of-type(2) {
    flex: 1; /* width/height  - initial value: auto */
    overflow-x: hidden;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 0 16px;
} 
.todo-block > div:nth-of-type(3) {
    flex-basis: 60px; /* width/height  - initial value: auto */
    overflow-x: hidden;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: right;
} 

.todo-block h3 {
    margin: 0;
}

.todo-block-img {
    background-color: white;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
    padding: 5px;
}

.todo-block.bg-white .todo-block-img {
    background-color: #f8d57e;
}

.todo-block-img img {
    max-width: 100%;
}

.shadow, 
.todo-block:hover {
    box-shadow: 20px 30px 69px -39px rgba(0,0,0,0.25);
    -webkit-box-shadow: 20px 30px 69px -39px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 20px 30px 69px -39px rgba(0,0,0,0.25);
}

.flex {
    display: flex;
}


.space-between {
    justify-content: space-between;
}


.bold {
    font-weight: bolder;
}

.text-orange {
    color: #f8d57e;
}

.text-small {
    font-size: 14px;
}


.text-medium {
    font-size: 18px;
}


.text-large {
    font-size: 23px;
}


.text-extra-large {
    font-size: 35px;
}


.align-items-bottom {
    align-items: flex-end;
}


.flex-column {
    flex-direction: column;
}

.modal {
    width: 100vw;
    height: 100vh;
    background: lightgrey;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    padding: 25px;
    /* position: absolute */
}
.modal.open {
    display: block;
}